/* Asterisk wildcard selector to override default setting added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

/* General style rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fdfdfd;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Header */
header { 
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fdfdfd;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Main */
main {
    background-color: black;
    /* Push footer down to bottom */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color:darkslategrey;
    
}