/* Asterisk wildcard selector to override default setting added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #2d2d2d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1,
h2,
h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #fdfdfd;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: darkslategray;
}


#menu {
    font-size: 105%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #252525;

}

/* Navbar styles w dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav-toggle FIX MEDIA QUERY FOR LARGE SCREENS-MAKE ICON DISAPPEAR! */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {

    /* Push footer down to bottom */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section (Try using another picture or make image responive to screen size */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    position: relative;

}

#cover-text {
    /* Final rbga value sets opacity of the background */
    background-color: rgba(120, 5, 36, .8);
    font-size: 110%;
    position: absolute;
    top: 40px;
    width: 70%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* About section (rudimentary- study source code to refine */

h2 {
    margin-bottom: 20px;
}

.about {
    width: 90%;
    text-align: left;
    line-height: 20px;
    margin: 20px auto;
    padding: 0 20px;
}

/* .blur {
    background: url("../images/hero.jpg") no-repeat center center/cover;
    height: 600px;
    width: 100%;
    position: relative;
    -webkit-filter: blur(5px);
    filter: blur(5px);

}
*/
#location {
    line-height: 20px;

}

#underline {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#hardware {
    margin: 20px auto;
    background-color: indianred;
}

#software {
    margin: 20px auto;
    background-color:aquamarine;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Media query: screens of large devices (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}